/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.log-out .menu-item {
    color: #fb6b63;
  }
  
  .log-out .menu-item:hover {
    color: #f2615a;
  }
  


/* -------------- SEARCH -------------- */
.search {
    display: flex;
    align-items: center;
    padding: 11px 0 11px 24px;
    max-width: 492px;
    width: 100%;
    border: 1px solid #C3D4E9;
    border-radius: 70px;
    gap: 26px;
    background: #FFFFFF;
    opacity: 0.8;
}

.search__input {
    border: none;
    outline: none;
    width: calc(100% - 78px);
}
/* -------------- TOP CONTAINER -------------- */
.top-container {
    border-bottom: 1px solid #F3F5F7;
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* -------------- USER NAV -------------- */
.user-nav, .user-info {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    margin: 0 37px 0 12px;
}

.user-image {
    height: 44px;
    width: 44px;
}
/* -------------- NOTIFICATION -------------- */
.notification {
    border: 1px solid #C3D4E9;
    background-color: transparent;
    position: relative;
    margin-right: 32px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.notification::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -2px;
    right: 3px;
}
/* -------------- box -------------- */
@media(max-width: 900px) {
    .top-container {
          gap: 24px;
      }
      .total-box {
          flex-direction: column;
      }
    
      .total-box__left {
          margin-right: 0;
          border-right: none;
          border-bottom: 1px solid #F3F5F7;
          padding-bottom: 24px;
          margin-bottom: 24px;
      }
      .total-box {
        display: flex;
      }
      
      .total-box__left {
        border-right: 1px solid #F0F0F0;
        flex: 1;
      }
      
      .total-box__right {
        flex: 1;
      }
      
      .up-arrow, .total-box__left {
        margin-right: 24px;
      }
    
      .up-arrow {
          margin-right: 0;
      }
    }
    .box {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 24px;
        margin-bottom: 24px; /*fix later*/
      }
      
      .bottom-container__left {
        width: 70%;
      }
      
      .bottom-container__right {
        width: 30%;
      }
      .transaction-box {
        margin-bottom: 0; 
       }
       .spending-box {
        position: relative;
      }
      /* -------------- BOTTOM CONTAINER -------------- */
.bottom-container {
    display: flex;
    gap: 24px;
    padding: 32px;
    background-color: #F3F5F7;
  }
  /* -------------- HEADER -------------- */
.header-container {
    color: #1A202C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
    font-weight: 600;
    letter-spacing: -2%;
  }
  .date-selector {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C3D4E9;
    border-radius: 6px;
  }
  
  .date-selector span {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
  }
  .section-header {
    line-height: 24px;
    font-size: 16px;
  }
  .section-header {
    font-size: 18px;
}
   .transaction-history {
     width: 100%;
     text-align: left;
     vertical-align: middle;
     margin-top: 24px;
   }